<p id="notice"><%= notice %></p>

<h1>Offices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>place </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.name %></td>
        <td><%= office.place %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New office', new_office_path %>

<%= link_to 'cabins',search_office_offices_path %>
